/*  your css code here. If applicable */
body{
	background-color:rgb(255, 255, 255);
}
h1{
	text-align:center;
}
.book-library{
	display:flex;
	flex-direction:column;
}
.book{
	display:flex;
	justify-content:center;
	flex-direction:column;
	background-color:rgb(255, 255, 255);
}
.image{
	display:flex;
	justify-content:center;
	color:rgb(46, 204, 113);
}
.author{
	margin:16px;
}
h2{
	margin-bottom:-8px;
}
p{
	color:rgb(119, 119, 119);
	margin-bottom:-25px;
}
button{
	margin:16px;
	padding:8px;
	border:none;
	border-radius:6px;
	text-align:center;
	background-color:rgb(46, 204, 113);
}